<div class="row-fluid">

    
    <div class="span12">
    @if (!string.IsNullOrEmpty(ViewBag.Rep))
    {   
        <div class="span2">
            
              <a href="#" class="thumbnail">
                  <img src="~/images/reps/" alt="Rep Photo" />
              </a>
            
        </div>
        <div class="span10">
            <h4>Welcome to the official PoshRed booking page of @ViewBag.Rep.  Please feel free to set up and book your own events with the user of our simple online booking system.</h4>        
            <h4>If you have any questions, please contact @ViewBag.Rep or email us directly at info@poshred.com</h4> 
        </div>
    }
    else
    {
       <div class="span12">
       <p><strong>Welcome to The Exchange.  Use our services to get plugged in to the hottest events in Las Vegas nightlife.</strong></p>
       </div>
    }
    <p>&nbsp;</p>
    </div>
</div>


<div class="row-fluid">
    <div class="span12">
        <ul class="thumbnails">
            <li class="span4">
              <a href="http://www.nitetours.com/poshred.html" target="_blank" class="thumbnail">
                <img src="../../images/nite_tours.gif" alt="Nite Tours" />
              </a>
            </li>
            <li class="span4">
              <a href="#" class="thumbnail">
                  <img src="../../images/marquee.jpg" alt="Marquee" />
              </a>
            </li>
            <li class="span4">
              <a href="#" class="thumbnail">
                  <img src="../../images/bodyenglishlogo.jpg" alt="Body English" />
              </a>
            </li>
            <li class="span2">
              <a href="#" class="thumbnail">
                  <img src="../../images/surrender.jpg" alt="Surrender" />
              </a>
            </li>
            <li class="span2">
              <a href="#" class="thumbnail">
                  <img src="../../images/hakkasanlogo.jpg" alt="Hakkasan" />
              </a>
            </li>
            <li class="span2">
              <a href="#" class="thumbnail">
                  <img src="../../images/bagatellelogo.jpg" alt="Bagatelle" />
              </a>
            </li>
            <li class="span2">
              <a href="#" class="thumbnail">
                  <img src="../../images/latinnights.jpg" alt="Latin Nights" />
              </a>
            </li>
          </ul>
    </div>
</div>
