<h2>Thank you!!</h2>

<p>
Thank you for placing an order with us.  
<br />
You will receive an email shortly describing your purchase and the process to attend the venue.
</p>

<br />

<p>
    @Html.ActionLink("Add another ticket", "Create", "Ticket")
</p>

<p>&nbsp;</p>

<p>
The Exchange<br />
Nightlife Simplified<br />
</p>